---
layout: archive
title: "Certifications"
permalink: /certifications/
author_profile: true
---
<hr>

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

<h2><u>Specialism</u></h2><br/>

<code   style="background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  display: block;
  padding: 20px;
  font-size:20px;">
  <img src="/images/Google__G__Logo.svg.png" id="myImg2" alt="Google" width="300" height="200" style="float:right;"/>
  <a href="/files/CourseraDLUNEEDY2TJH.pdf" target="_blank" rel="noopener noreferrer">Google Data Analytics</a><br/>
</code>


<a href="/files/CourseraDLUNEEDY2TJH.pdf" target="_blank" rel="noopener noreferrer">Google Data Analytics</a><br/>

<a href="/files/CourseraLC333HN9H887.pdf" target="_blank" rel="noopener noreferrer">The Data Scientists Toolbox</a><br/>

<a href="/files/CourseraLQ4H8KVNMYUZ.pdf" target="_blank" rel="noopener noreferrer">R Promgramming</a><br/>

<a href="/files/CourseraNR34XQSLFTTS.pdf" target="_blank" rel="noopener noreferrer">Ask Questions to Make Data-Driven Decisionsx</a><br/>

<a href="/files/CourseraTQ9X4YY3XM48.pdf" target="_blank" rel="noopener noreferrer">Prepare Data for Exploration</a><br/>

<a href="/files/CourseraK4SWH56B9ND6.pdf" target="_blank" rel="noopener noreferrer">Foundations: Data, Data, Everywhere</a><br/>

<a href="/files/CourseraDYW2E96SUJX4.pdf" target="_blank" rel="noopener noreferrer">Process Data from Dirty to Clean</a><br/>

<a href="/files/CourseraWXJF5H8DTYQ5.pdf" target="_blank" rel="noopener noreferrer">Analyze Data to Answer Questions</a><br/>

<a href="/files/CourseraCQY9L53H84WJ.pdf" target="_blank" rel="noopener noreferrer">Share Data Through the Art of Visualization</a><br/>

<a href="/files/Coursera6HTPB5HH5U5V.pdf" target="_blank" rel="noopener noreferrer">Data Analysis with R Programming</a><br/>

<a href="/files/CourseraDLUNEEDY2TJH.pdf" target="_blank" rel="noopener noreferrer">Google Data Analytics</a><br/>

<a href="/files/CourseraSUDSMBT2K3SW.pdf" target="_blank" rel="noopener noreferrer">Google Data Analytics Capstone: Complete a Case Study</a><br/>

<a href="/files/Coursera337DH5ZR4V66.pdf" target="_blank" rel="noopener noreferrer">SQL for Data Science</a><br/>



