---
layout: archive
title: "Certifications"
permalink: /certifications/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

<h2>Coursea certificates</h2>


<br/>


<a href="/files/CourseraLC333HN9H887.pdf" target="_blank" rel="noopener noreferrer">The Data Scientists Toolbox</a>

<a href="/files/CourseraLQ4H8KVNMYUZ.pdf" target="_blank" rel="noopener noreferrer">R Promgramming</a>

<a href="/files/CourseraNR34XQSLFTTS.pdf" target="_blank" rel="noopener noreferrer">Ask Questions to Make Data-Driven Decisionsx</a>

<a href="/files/CourseraTQ9X4YY3XM48.pdf" target="_blank" rel="noopener noreferrer">Prepare Data for Exploration</a>

<a href="/files/CourseraK4SWH56B9ND6.pdf" target="_blank" rel="noopener noreferrer">Foundations: Data, Data, Everywhere</a>

<a href="/files/CourseraDYW2E96SUJX4.pdf" target="_blank" rel="noopener noreferrer">Process Data from Dirty to Clean</a>